<!-- <md-card layout="column" layout-align="center center" style="margin-right:22px;left:0;border:none;box-shadow:none" hide show-gt-sm>

  <jk-carousel data="dataArray" item-template-url="'app/controller/item-template.html'" max-width="800" max-height="370" auto-slide="true" auto-slide-time="3000">
  </jk-carousel>
</md-card> -->

<div flex layout="row" layout-xs="column" layout-sm="column" layout-align="center center">

  <md-card layout-align="center center" flex>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-subhead">Medium</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img src="assets/images/energiasolar.jpg" alt=""></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
    <span class="md-subhead">Energia Solar</span>
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>

  <md-card layout-align="center center" flex>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-subhead">Medium</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img src="assets/images/projetoseletricos.jpg" alt=""></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
      <span class="md-subhead">Projetos Elétricos</span>
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>
  <md-card layout-align="center center" flex>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-subhead">Medium</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img src="assets/images/laudos.png" alt=""></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
      <span class="md-subhead">Laudos Técnicos</span>
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>
  <md-card layout-align="center center" flex>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-subhead">Medium</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img src="assets/images/potencia.jpg" alt=""></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
      <span class="md-subhead">Fator de potência</span>
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>
  <md-card layout-align="center center" flex>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-subhead">Medium</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img src="assets/images/assessoria.jpg" alt=""></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
      <span class="md-subhead">Assessoria</span>
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>
  <md-card layout-align="center center" flex>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-subhead">Medium</span> -->
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"><img src="assets/images/ppci.svg" alt=""></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
      <span class="md-subhead">PPCI</span>
      <!-- <md-button>Action 1</md-button>
      <md-button>Action 2</md-button> -->
    </md-card-actions>
  </md-card>
</div>
