#slides_control > div{
  height: 200px;
  width: 400px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
md-card {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

md-icon {
  margin: 0;
}
a {
  text-decoration: none !important;
}


.link {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}
