<md-bottom-sheet class="md-grid" layout="column" >
<!-- hide-gt-sm -->
  <div ng-cloak>
    <md-list layout="row" layout-align="center center" style="height:10%">
      <md-list-item>
        <div>
          <a href="tel:05180257497" >
            <md-button  class="md-fab" style="background:#4F8EF7">
                <md-icon md-font-set="material-icons">phone</md-icon>
              </md-button>
            </a>
        </div>
      </md-list-item>
      <md-list-item>
        <div>
          <a href="whatsapp://send?text=Olá%2C%20Inova!&phone=+555180257497" >
            <md-button class="md-fab" style="padding:0;background:#009688">
              <md-icon md-font-set="fa fa-whatsapp fa-2x" style="margin-top: -7px;margin-left:0px"></md-icon>
            </md-button>
          </a>

        </div>
      </md-list-item>
    </md-list>
  </div>
</md-bottom-sheet>
