<md-fab-speed-dial md-open="true" md-direction="down" class="md-fling md-fab-bottom-right" hide-gt-sm>
  <md-fab-trigger>
    <a href="whatsapp://send?text=Olá%2C%20Inova!&phone=+555180257497&abid=+555180257497">
      <md-button print class="md-fab " style="padding:0;background:#009688">
          <md-icon md-font-set="fa fa-whatsapp fa-2x" style="margin-top: -7px;margin-left:0px"></md-icon>
        </md-button>
      </a>
      </md-fab-trigger>
      <md-fab-actions>
        <span class="md-body-5">Estamos online</span>
      </md-fab-actions>
      </md-fab-speed-dial>
